<% content_for :dashboard do %>

  <div class="container-fluid">

    <div class="row">

      <div class="sidebar col-sm-3 col-md-2">

        <ul class="nav nav-sidebar">

          <li class="active">
            <a href="#"><%= t :dashboard_overview_caption %></a>
          </li>

        </ul>

      </div>

      <div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

        <h1 class="page-header"><%= t :travels %></h1>

          <div class="table-responsive">

            <table class="table table-striped table-hover table-responsive">

              <thead>
                <tr>
                  <th class="col-md-4 col-sm-4">
                    <%= t :travels_origin, count: 2 %>
                  </th>
                  <th class="col-md-6 col-sm-6">
                    <%= t :travels_destination, count: 2 %> & <%= t :travels_item, count: 2 %>
                  </th>
                  <th class="col-md-1 col-sm-1">
                    <%= t :travels_route_cost %>
                  </th>
                  <th class="col-md-1 col-sm-1">
                    <%= t :travels_status %>
                  </th>
                </tr>
              </thead>

              <tbody>

                <% @travels.each do |travel| %>

                  <tr>
                    <td>
                      <%= travel.origin.address %>
                    </td>
                    <td>
                        <table class="table table-condensed">
                          <tbody>

                            <% travel.destinations.each do |d| %>

                            <tr onclick="$(this).next('#due-date').toggleClass('hidden')">
                                <td class="col-md-9 col-sm-9">
                                  <%= d.address %>
                                </td>
                                <td class="col-md-3 col-sm-3">
                                  <%= d.items.reduce("") do |s, i|
                                        s.concat ", " unless s.blank?
                                        s.concat "#{ i.name }"
                                      end %>
                                </td>
                              </tr>
                              <tr id="due-date" class="hidden">
                                <td>
                                  <div>
                                    <%= "#{t :after}: #{ if d.due_date
                                                           d.due_date.starts
                                                         else
                                                           "unknown"
                                                         end }" %>
                                  </div>
                                  <div>
                                    <%= "#{t :before}: #{ if d.due_date
                                                            d.due_date.ends
                                                          else
                                                            "unknown"
                                                          end }" %>
                                  </div>
                                </td>
                              </tr>

                            <% end %>

                          </tbody>
                        </table>
                    </td>
                    <td>
                      <%= (r = travel.route) ? r.cost : "Unknown" %>
                    </td>
                    <td>
                      <%= travel.state %>
                    </td>
                  </tr>

                <% end %>

              </tbody>

            </table>

          </div>

      </div>

    </div>

  </div>

<% end %>