<%  ngmodel_addr    = "#{ngmodel_prefix}.address"
    ngmodel_coords  = "#{ngmodel_prefix}.coordinates"
    ngmodel_items   = "#{ngmodel_prefix}.items_attributes" %>

<div class="<%= local_assigns[:class] %>" ng-click="<%= "registerClickerAndAutoComplete(#{ngmodel_prefix}, $event)" %>">

  <%= form.text_field :address,     placeholder:  "Destination",
                                    class:        "address form-control",
                                    ng_model:     ngmodel_addr %>

  {{ <%= ngmodel_addr %> }}

  <%= form.text_field :coordinates, #type:         "hidden",
                                    class:        "coordinates hidden",
                                    ng_model:     ngmodel_coords %>

  {{ <%= ngmodel_coords %> }}

</div>

<div style="padding-top: 10pt">
  <%= link_to_add_fields_angular(form, :items, ngmodel_prefix) do |gen| %>
    <%= output = <<-RUBY_EVAL
          <div class="" ng-repeat="item in #{ngmodel_items}" ng-init="itemsIndex = $index">
            #{gen.call({ index: "itemsIndex" })}
          </div>
        RUBY_EVAL

        output.html_safe %>
  <% end %>

  <%= push_onclick_button_to('Add item', { ng_click: "pushNextItemFor(#{ngmodel_prefix})", class: "btn btn-primary" }) %>
</div>