<%  ng_model_prefix  = local_assigns[:ngmodel_prefix]

    ng_model_addr    = "#{ng_model_prefix}.address"
    ng_model_coords  = "#{ng_model_prefix}.coordinates"
    ng_model_items   = "#{ng_model_prefix}.items_attributes"

    ng_model_due_date_starts  = "#{ng_model_prefix}.due_date_attributes.starts"
    ng_model_due_date_ends    = "#{ng_model_prefix}.due_date_attributes.ends"

    ng_form = "destinationSubForm" %>


<div class="sunken-menu">
  <%= push_onclick_link_to("", { class: "tag tag-remove glyphicon glyphicon-remove", ng_click: "destroyDestination(#{ng_model_prefix})" }) -%>
</div>

<div class="<%= local_assigns[:class] %>" ng-click="<%= "registerClickerAndAutoComplete(#{ng_model_prefix}, $event)"%>" ng-form="<%= ng_form %>" verify-address>

  <%= render layout: "layouts/error_labels_layout", locals: { subform: ng_form, props: :address, message: (t :travels_new_form_missing_address_error_message) } do %>

    <%= form.text_field :address,     name:         "address",
                                      placeholder:  (t :travels_destination, count: 1),
                                      class:        "address form-control",
                                      ng_model:     ng_model_addr,
                                      ng_required:  true %>

    <%= form.text_field :coordinates, name:         "coordinates",
                                      class:        "coordinates hidden",
                                      ng_model:     ng_model_coords,
                                      ng_required:  true %>

  <% end %>

  <div class="form-group" style="clear: left !important;">

    <div class="timepicker-panel col-md-6 col-sm-6" ng-controller="TimepickerController">

      <span class="timepicker-label"><%= t :travels_new_form_after_timepicker_caption %></span>

      <timepicker ng-model      = "<%= ng_model_due_date_starts %>"
                  hour-step     = "settings.timepicker.hourStep"
                  minute-step   = "settings.timepicker.minuteStep"
                  show-meridian = "settings.timepicker.isMeridian"
                  mousewheel    = "settings.timepicker.mouseWheel"
                  class         = "timepicker" />

    </div>

    <div class="timepicker-panel col-md-6 col-sm-6" ng-controller="TimepickerController">

      <span class="timepicker-label"><%= t :travels_new_form_before_timepicker_caption %></span>

      <timepicker ng-model      = "<%= ng_model_due_date_ends %>"
                  hour-step     = "settings.timepicker.hourStep"
                  minute-step   = "settings.timepicker.minuteStep"
                  show-meridian = "settings.timepicker.isMeridian"
                  mousewheel    = "settings.timepicker.mouseWheel"
                  class         = "timepicker" />

    </div>

  </div>

</div>

<%= link_to_add_fields_angular(form, :items, ng_model_prefix) do |gen| %>
  <%= output = <<-RUBY_EVAL
        <div class="item form-group-panel" ng-repeat="item in #{ng_model_items}" ng-init="itemsIndex = $index">
          #{ gen.call({ index: "itemsIndex" })}
        </div>
      RUBY_EVAL

      output.html_safe %>
<% end %>

<div class="form-group">
  <%= push_onclick_button_to((t :travels_new_form_add_item),            { ng_click: "pushNextItemFor(#{ng_model_prefix})",    class: "btn" }) %>
</div>

<!--<div class="form-group">-->
  <!--<%# push_onclick_button_to((t :travels_new_form_destroy_destination), { ng_click: "destroyDestination(#{ng_model_prefix})", class: "btn btn-danger" }) %>-->
<!--</div>-->