<%  ngmodel_prefix  = local_assigns[:ngmodel_prefix]

    ngmodel_addr    = "#{ngmodel_prefix}.address"
    ngmodel_coords  = "#{ngmodel_prefix}.coordinates"
    ngmodel_items   = "#{ngmodel_prefix}.items_attributes"

    ngform = "destinationSubForm" %>

<div class="<%= local_assigns[:class] %>" ng-click="<%= "registerClickerAndAutoComplete(#{ngmodel_prefix}, $event)"%>" ng-form="<%= ngform %>" verify-address>

  <%= render 'travel_address_error_labels', subform: ngform %>

  <%= form.text_field :address,     name:         "address",
                                    placeholder:  "Destination",
                                    class:        "address form-control",
                                    ng_model:     ngmodel_addr,
                                    ng_required:  true %>

  <%= form.text_field :coordinates, name:         "coordinates",
                                    class:        "coordinates hidden",
                                    ng_model:     ngmodel_coords,
                                    ng_required:  true %>

</div>

<div style="padding-top: 10pt">
  <%= link_to_add_fields_angular(form, :items, ngmodel_prefix) do |gen| %>
    <%= output = <<-RUBY_EVAL
          <div class="" ng-repeat="item in #{ngmodel_items}" ng-init="itemsIndex = $index">
            #{ gen.call({ index: "itemsIndex" })}
          </div>
        RUBY_EVAL

        output.html_safe %>
  <% end %>

  <%= push_onclick_button_to('Add item', { ng_click: "pushNextItemFor(#{ngmodel_prefix})", class: "btn btn-primary" }) %>
</div>