<%  ng_model_prefix = local_assigns[:ngmodel_prefix]

    ng_model_name         = "#{ng_model_prefix}.name"
    ng_model_description  = "#{ng_model_prefix}.description"
    ng_model_weight       = "#{ng_model_prefix}.weight"

    ng_form = "itemSubForm" %>

<div class="container-fluid">

  <div class="item row">

    <div class="item-details col-md-8 col-sm-8" ng-form="<%= ng_form %>">

      <%= render layout: "layouts/error_labels_layout", locals: { subform: ng_form, props: :name, message: (t :travels_missing_item_name_error_message) } do %>

        <%= form.text_field :name,  name:         "name",
                                    placeholder:  (t :travels_item_name),
                                    class:        "form-control",
                                    ng_model:     ng_model_name,
                                    ng_required:  true %>

      <% end %>

      <%= render layout: "layouts/error_labels_layout", locals: { subform: ng_form, props: :weight, message: (t :travels_missing_item_weight_error_message) } do %>

        <%= form.text_field :weight,  name:         "weight",
                                      placeholder:  (t :travels_item_weight),
                                      class:        "form-control",
                                      ng_model:     ng_model_weight,
                                      ng_required:  true %>

      <% end %>

      <div class="form-group">
          <%= form.text_area :description,  name:         "description",
                                            placeholder:  (t :travels_item_description),
                                            class:        "form-control",
                                            ng_model:     ng_model_description %>
      </div>

    </div>

  </div>

</div>