<!--<%= form.label      :name, class: "col-sm-3" %>-->

<div class="form-group">
  <div class="col-sm-9">
    <%= form.text_field :name,        placeholder: "Name",        class: "form-control" %>
  </div>
</div>

<!--<%= form.label      :description, class: "col-sm-3" %>-->

<div class="form-group">
  <div class="col-sm-9">
    <%= form.text_area  :description, placeholder: "Description", class: "form-control" %>
  </div>
</div>

<!--<%= form.label      :weight, class: "col-sm-3" %>-->

<div class="form-group">
  <div class="col-sm-9">
    <%= form.text_field :weight,      placeholder: "Weight",      class: "form-control" %>
  </div>
</div>