
<style type="text/css">

  .box {
    background-color: rgba(250, 250, 250, .5);
    text-align: center;
    border: 1px dashed rgba(200, 200, 200, .5);
  }

  .target {
    overflow-x: hidden;
  }

  .box-body {
    margin: 10pt;
  }

</style>

<%  travel = local_assigns[:travel]
    %>

<div class="box">

  <div class="box-body container-fluid">

    <div class="row">

      <div class="target col-md-5">

        <span class="glyphicon glyphicon-flag"></span>

        <div id="origin" class="origin list-group-item" data-coordinates="<%= travel.origin.coordinates %>">

          <h5 class="list-group-item-heading">

            <%= travel.origin.address %>

          </h5>

        </div>

      </div>

      <div class="col-md-2">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>

      <div class="target col-md-5">

        <span class="glyphicon glyphicon-flag"></span>

        <div id="destinations" class="list-group">

          <% travel.destinations.each do |destination| %>

            <div id="#" class="destination list-group-item" data-coordinates="<%= destination.coordinates %>">

              <h5 class="list-group-item-heading">

                <%= destination.address %>

              </h5>

              <div class="destination-items-list list-group">

                <% destination.items.each do |item| %>

                  <span class="list-group-item">
                    <%= item.name %>
                  </span>
                  <p class="list-group-item-text">
                    <%= item.description %>
                    <%= item.weight %>
                  </p>

                <% end %>

              </div>

            </div>

          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>