<%  ngmodel_prefix = local_assigns[:ngmodel_prefix]

    ngmodel_addr   = "#{ngmodel_prefix}.address"
    ngmodel_coords = "#{ngmodel_prefix}.coordinates"

    ngform = "originSubform" %>

<div ng-click="<%= "registerClickerAndAutoComplete(#{ngmodel_prefix}, $event)" %>" ng-form="<%= ngform %>" verify-address>

    <%= render layout: "layouts/error_labels_layout", locals: { subform: ngform, props: :address, message: (t :travels_new_form_missing_address_error_message) } do %>

      <%= form.text_field :address,     name:         "address",
                                        placeholder:  (t :travels_origin, count: 1),
                                        class:        "address form-control",
                                        ng_model:     ngmodel_addr,
                                        ng_required:  true %>

      <%= form.text_field :coordinates, name:         "coordinates",
                                        class:        "coordinates hidden",
                                        ng_model:     ngmodel_coords,
                                        ng_required:  true %>

    <% end %>

    <!--<span ng-show="originSubForm.coordinates.$error.required">Couldn't resolve place supplied!</span>-->

</div>