<!--<div class="col-sm-3">-->
  <!--<%# form.label      :origin %>-->
<!--</div>-->

<%  ngmodel_addr   = "#{ngmodel_prefix}.address"
    ngmodel_coords = "#{ngmodel_prefix}.coordinates" %>

<div ng-click="<%= "registerClickerAndAutoComplete(#{ngmodel_prefix}, $event)" %>">

  <%= form.text_field :address,     placeholder:  "Origin",
                                    class:        "address form-control",
                                    ng_model:     ngmodel_addr,
                                    ng_attr_value: "#{ngmodel_addr}" %>

  {{ <%= ngmodel_addr %> }}

  <%= form.text_field :coordinates, #type:         "hidden",
                                    class:        "coordinates hidden",
                                    ng_model:     ngmodel_coords %>

  {{ <%= ngmodel_coords %> }}

</div>