<% subform = local_assigns[:subform] %>

<div class="form-group"   ng-class="{ 'has-error': <%= subform %>.$invalid && <%= subform %>.address.$touched }"

                          tooltip-trigger="mouseenter"
                          tooltip-placement="left"
                          tooltip-append-to-body="true"
                          tooltip="{{ <%= subform %>.address.$touched && <%= subform %>.address.$invalid
                                        ? 'Missing address'
                                        : '' }}" >

  <%= yield %>

</div>