<style type="text/css">

  .box {
    background-color: rgb(250,250,250);
    text-align: center;
  }

  .dot {
    margin: auto;
    border: 5pt solid lightgray;
    border-radius: 10pt;
    height: 10pt;
    width: 10pt;
  }

  .stripe {
    display: inline-block;
    margin: 10pt;
  }

  .point {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }

  .point .name {
    margin: 0;
  }

  .travel-dashboard {
    text-align: center;
  }

  .travel-dashboard a, .travel-dashboard .take-btn {
    display: inline-block;
  }

  .travel .performer-thumb {
    position: absolute;
    top:   -15pt;
    right: -15pt;
  }

</style>

<div class="map-overlay col-sm-4">

  <div class="row">

    <div class="panel panel-default">

      <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">Travels</h3>-->
      <!--</div>-->

      <div class="panel-body tab-content">

        <% @travels.each_slice(3).each_with_index do |threefold, i| %>

          <div id="<%= "travels_page_#{i}" %>" class="tab-pane <%= (i == 0 ? "active" : "") %>">

            <div class="list-group">

              <% threefold.each do |travel| %>

                <div class="travel list-group-item">

                  <% if travel.taken? %>

                    <div class="performer-thumb">
                      <%= render 'users/small' %>
                    </div>

                  <% end -%>

                  <div class="box">

                    <div class="stripe">

                      <div class="point">

                        <div class="dot"></div>

                        <p id="origin" class="name" data-coordinates="<%= travel.origin.coordinates %>">
                          <%= travel.origin.address %>
                        </p>

                      </div>

                      ----->

                      <div class="point">

                        <div class="dot"></div>

                        <p id="destination" class="name" data-coordinates="<%= travel.destination.coordinates %>">
                          <%= travel.destination.address %>
                        </p>

                      </div>

                    </div>

                    <div>

                      <% travel.items.each do |item| %>
                        <p><%= "#{item.description}, #{item.weight}" %></p>
                      <% end %>

                    </div>

                  </div>

                  <div class="travel-dashboard">

                    <div class="take-btn">
                      <%= form_for :travel, url: take_travel_path(travel) do |form| %>
                        <%= form.submit value: "Take", class: "btn btn-primary" %>
                      <%  end %>
                    </div>

                    <a href="#" class="btn btn-primary">Cancel</a>

                  </div>

                </div>

            <% end %>

            </div>

          </div>

        <% end %>

      </div>

    </div>

    <ul class="pagination navigation">

      <% tc = @travels.count %>
      <% (0 .. (tc / 3)).each do |i| %>

        <li class="<%= (i == 0 ? "active" : "") %>">
          <a data-toggle="tab" href="#<%= "travels_page_#{i}" %>"><%= i + 1 %></a>
        </li>

      <%  end unless tc <= 3 -%>

    </ul>

  </div>

</div>

<script type="text/javascript">

  var origin, destination;

  var pairMatcher = new RegExp("\\(([\\d]+\\.[\\d]+),\\s*([\\d]+\\.[\\d]+)\\)");

  function decouple(pair) {
    var r = pairMatcher.exec(pair);

    if (r[0] != pair || r.length != 3)
      throw "Failed to decouple given pair: " + pair;

    return {
      latitude:  r[1],
      longitude: r[2]
    };
  }

  function showTravel (event) {

    var coordinates = {
      origin:       decouple($("p#origin",      $(this)).data("coordinates")),
      destination:  decouple($("p#destination", $(this)).data("coordinates"))
    };

    var travel  = {
      origin:       new google.maps.LatLng(coordinates.origin.latitude,       coordinates.origin.longitude),
      destination:  new google.maps.LatLng(coordinates.destination.latitude,  coordinates.destination.longitude)
    };

    origin = new google.maps.Marker({
      position:   travel.origin,
      map:        shipper.map,
      draggable:  false
    });

    destination = new google.maps.Marker({
      position:   travel.destination,
      map:        shipper.map,
      draggable:  false
    });
  }

  function hideTravel (event) {
    origin      .setMap(null);
    destination .setMap(null);
  }

  $("div.list-group > div.list-group-item").hover(showTravel, hideTravel);

  $(".travel-dashboard").hide();

  $(".travel")
      .hover(function () {
        $(".travel-dashboard", $(this))
            .stop(true, true)
            .slideToggle();
      });

</script>