
<% content_for :map_overlay do %>

  <style type="text/css">

    .travels {
      max-height: 80vh;
      overflow-y: scroll;

      padding: 0 15pt;
      margin-top: 15pt;

      box-sizing: border-box;

      background: none;
      border:     none;
      box-shadow: none;
    }

    .travels .list-group {
      margin-bottom: 0; /* override */
    }

    .travels #destinations.list-group {
      margin-bottom: 10pt;
    }

    .travels.panel {
      margin-bottom: 0;
    }

    .travels-inner {
      padding: 0;

      border: none;
      background: none;

      -webkit-box-shadow: 0 0 5pt rgba(0, 0, 0, .4);
      -moz-box-shadow: 0 0 5pt rgba(0, 0, 0, .4);
      -o-box-shadow: 0 0 5pt rgba(0, 0, 0, .4);
      box-shadow: 0 0 5pt rgba(0, 0, 0, .4);
    }

    .travel-dashboard {
      padding-top: 10pt;
      text-align: center;
    }

    .travel-dashboard .withdraw-action,
    .travel-dashboard .complete-action,
    .travel-dashboard .take-action,
    .travel-dashboard .cancel-action {
      display: inline-block;
    }

    .travel .performer {
      position: absolute;
      top:   -15pt;
      right: -15pt;
    }

    .travel .completed {
      position: absolute;
      /*margin-top: 50px;*/
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, .5);
      /*padding: 1px;*/
    }

    .completed .caption {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
      height: 25pt;
      width: 100pt;
      line-height: 25pt;
      border-radius: 3px;
      background: #ffffff;
    }

  </style>

  <div class="map-overlay col-sm-4">

    <div class="row">

      <div class="travels panel panel-default">

        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">Travels</h3>-->
        <!--</div>-->

        <% if @travels.length > 0 -%>

          <div class="travels-inner panel-body tab-content" ng-controller="TravelsListingController">

            <% @travels.each_slice(3).each_with_index do |threefold, i| %>

              <div id="<%= "travels_page_#{i}" %>" class="tab-pane <%= (i == 0 ? "active" : "") %>">

                <div class="list-group">

                  <% threefold.each do |travel| %>

                    <div class="travel list-group-item"
                          <%= "ng-mouseenter='showTravel($event); slideTravelDashboard($event)'
                               ng-mouseleave='hideTravel($event); slideTravelDashboard($event)' ".html_safe unless travel.completed? %> >


                      <% if travel.taken? %>

                        <div class="performer">

                          <%= render "users/small", locals: { user: travel.performer } %>

                        </div>

                      <% end -%>

                      <%= render "small", travel: travel %>

                        <div class="travel-dashboard ng-hide">

                          <% if current_user.role.is_a?(Users::Roles::Performer) and travel.performer == current_user or
                                current_user.role.is_a?(Users::Roles::Admin) %>

                            <% unless travel.taken? %>

                              <div class="take-action">
                                <%= form_for :travel, url: take_travel_path(travel) do |form| %>
                                  <%= form.submit value: "Take", class: "btn btn-primary " + (travel.canceled? ? "disabled" : "") %>
                                <% end %>
                              </div>

                            <% else %>

                              <div class="complete-action">
                                <%= form_for :travel, url: complete_travel_path(travel) do |form| %>
                                  <%= form.submit value: "Complete", class: "btn btn-success" + (travel.canceled? ? "disabled" : "") %>
                                <% end %>
                              </div>

                              <div class="withdraw-action">
                                <%= form_for :travel, url: withdraw_travel_path(travel) do |form| %>
                                  <%= form.submit value: "Withdraw", class: "btn btn-danger" + (travel.canceled? ? "disabled" : "") %>
                                <% end %>
                              </div>

                            <% end %>

                          <% end %>

                          <% if current_user.role.is_a?(Users::Roles::Customer) and travel.customer == current_user or
                                current_user.role.is_a?(Users::Roles::Admin) %>

                            <% unless travel.canceled? %>

                              <div class="cancel-action">
                                <%= form_for :travel, url: cancel_travel_path(travel) do |form| %>
                                  <%= form.submit value: "Cancel", class: "btn btn-danger" %>
                                <% end %>
                              </div>

                            <% end %>

                          <% end %>

                        </div>

                      <% if travel.completed? %>

                        <div class="completed">
                          <div class="caption">
                            <%= (t :travel_index_delivered_status_caption).upcase %> <span class="glyphicon glyphicon-ok"/>
                          </div>
                        </div>

                      <% end %>

                    </div>

                <% end %>

                </div>

              </div>

            <% end %>

          </div>

        <% else -%>

          <div class="panel-body tab-content">
            <div class="tab-pane active">
              <div class="list-group">
                <div class="list-group-item">

                  <h4 class="centered">
                    You have no travels
                  </h4>

                  <br>

                  <div class="centered">
                  <%= link_to new_travel_path, style: "display: inline-block" do %>
                    <button class="btn btn-primary">Create</button>
                  <% end %>
                  </div>

                </div>
              </div>
            </div>
          </div>

      <% end -%>

      </div>

      <ul class="pagination navigation">

        <% tc = @travels.count %>
        <% (0 .. (tc / 3)).each do |i| %>

          <li class="<%= (i == 0 ? "active" : "") %>">
            <a data-toggle="tab" href="#<%= "travels_page_#{i}" %>"><%= i + 1 %></a>
          </li>

        <%  end unless tc <= 3 -%>

      </ul>

    </div>

  </div>

<% end %>