
<% content_for :map_overlay do %>

  <style type="text/css">

    .travels-panel {
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none;
      margin-bottom: 0;
    }


    .travel-dashboard {
      padding-top: 10pt;
      text-align: center;
    }

    .travel-dashboard a, .travel-dashboard .take-btn {
      display: inline-block;
    }

    .travel .performer-thumb {
      position: absolute;
      top:   -15pt;
      right: -15pt;
    }

  </style>

  <div class="map-overlay col-sm-4">

    <div class="row">

      <div class="panel panel-default travels-panel">

        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">Travels</h3>-->
        <!--</div>-->

        <div class="panel-body tab-content" ng-controller="TravelsListingController">

          <% @travels.each_slice(3).each_with_index do |threefold, i| %>

            <div id="<%= "travels_page_#{i}" %>" class="tab-pane <%= (i == 0 ? "active" : "") %>">

              <div class="list-group">

                <% threefold.each do |travel| %>

                  <div class="travel list-group-item" ng-mouseenter="showTravel($event); slideTravelDashboard($event)" ng-mouseleave="hideTravel($event); slideTravelDashboard($event)">

                    <% if travel.taken? %>

                      <div class="performer-thumb">
                        <%= render 'users/small' %>
                      </div>

                    <% end -%>

                    <%= render 'small', travel: travel %>

                    <div class="travel-dashboard ng-hide">

                      <div class="take-btn">
                        <%= form_for :travel, url: take_travel_path(travel) do |form| %>
                          <%= form.submit value: "Take", class: "btn btn-primary" %>
                        <%  end %>
                      </div>

                      <a href="#" class="btn btn-primary">Cancel</a>

                    </div>

                  </div>

              <% end %>

              </div>

            </div>

          <% end %>

        </div>

      </div>

      <ul class="pagination navigation">

        <% tc = @travels.count %>
        <% (0 .. (tc / 3)).each do |i| %>

          <li class="<%= (i == 0 ? "active" : "") %>">
            <a data-toggle="tab" href="#<%= "travels_page_#{i}" %>"><%= i + 1 %></a>
          </li>

        <%  end unless tc <= 3 -%>

      </ul>

    </div>

  </div>

<% end %>