<% content_for :map_overlay do %>

  <style type="text/css">

    .new-travel-form {
      max-height: 80%;  /* doesn't work unless height of the containing block explicitly specified */
      overflow: scroll;
    }

  </style>

  <div class="map-overlay col-sm-4">

    <div class="row">

      <div class="panel panel-default">

        <div class="new-travel-form panel-body" ng-controller="TravelFormController">

          <%= form_for(@travel, html: { class: "form-horizontal", role: "form", name: "travelForm" }) do |form| %>

            <div class="col-md-12 col-sm-12" ng-switch on="accounted">

              <div class="form-body" ng-switch-default>

                <%  ng_model_prefix = "travel.model"
                    ng_model_routes = "#{ng_model_prefix}.$routes" %>

                <div class="origin">
                  <%= push_fields_for(form, :origin, ng_model_prefix) %>
                </div>

                <div class="destinations" ng-init="pushNextDestinationIfNone()">
                  <%= link_to_add_fields_angular(form, :destinations, ng_model_prefix) do |gen| %>

                    <%= output = <<-RUBY_EVAL
                          <div class="" ng-repeat="destination in #{ng_model_prefix}.destinations_attributes" ng-init="destinationIndex = $index">
                            #{ gen.call({ index: "destinationIndex" }) }
                          </div>
                        RUBY_EVAL

                        output.html_safe %>

                  <% end %>

                </div>

                <div class="form-group">
                  <%= push_onclick_button_to((t :travels_new_form_add_destination), { ng_click: "pushNextDestination()", class: "btn" }) %>
                </div>

              </div>

              <div id="travel-summary" ng-switch-when="true">

                <div class="list-group form-group">

                  <div class="list-group-item" ng-class="{ active: selected(route) }" ng-click="selectRoute(route)" ng-repeat="route in <%= "#{ng_model_routes}" %>">
                    <h4 class="list-group-item-heading"> {{ route.cost }} &#8381; </h4>
                    <p class="list-group-item-text"> {{ route.inKilo() }} km / {{ route.inMinutes() }} min </p>
                  </div>

                </div>

                <div class="form-group">
                  <button type="button" class="btn btn-primary" ng-click="submitTravel()"><%= t :travels_new_form_submit_button %></button>
                </div>
              </div>

              <div class="form-group">

                <button type="button" class="btn" ng-click="back()"><%= t :travels_new_form_back_button %></button>
                <button type="button" class="btn btn-primary" ng-click="forth()" ng-if="!accounted" ng-disabled="travelForm.$invalid"><%= t :travles_new_form_proceed_button %></button>

              </div>

              <!--<div class="form-group">-->
                <!--<button type="button" class="btn" ng-click="$debugLog(travelForm)">DUMP FORM</button>-->
                <!--<button type="button" class="btn" ng-click="$debugLog(travel.model)">DUMP MODEL</button>-->
              <!--</div>-->

            </div>

          <% end %>

        </div>

      </div>

  </div>

  </div>

<% end %>