<% content_for :map_overlay do %>

  <style type="text/css">

    .new-travel-form {
      max-height: 80%;  /* doesn't work unless height of the containing block explicitly specified */
      overflow: scroll;
    }

  </style>

  <div class="map-overlay col-sm-4">

    <div class="row">

      <div class="panel panel-default">

        <div class="new-travel-form panel-body" ng-controller="TravelFormController">

          <%= form_for(@travel, html: { class: "form-horizontal", role: "form" }) do |form| %>

            <div class="col-sm-12" ng-switch on="accounted">

              <div class="form-body" ng-switch-default>

                <% ngmodel_prefix = "travel.model" %>

                <div class="origin form-group">
                  <%= push_fields_for(form, :origin, ngmodel_prefix) %>
                </div>

                <div class="destinations form-group">
                  <%= link_to_add_fields_angular(form, :destinations, ngmodel_prefix) do |gen| %>

                    <%= output = <<-RUBY_EVAL
                          <div class="" ng-repeat="destination in #{ngmodel_prefix}.destinations_attributes" ng-init="destinationIndex = $index">
                            #{gen.call({ index: "destinationIndex" })}
                          </div>
                        RUBY_EVAL

                        output.html_safe %>

                  <% end %>

                  <%= push_onclick_button_to('Add destination', { ng_click: "pushNextDestination()", class: "btn btn-primary" }) %>
                </div>

              </div>

              <div class="travel-summary" ng-switch-when="true">
                $$$$

                <div class="form-group">
                  <button type="button" class="btn btn-primary" ng-click="submitTravel()">Submit</button>
                </div>
              </div>

              <div class="form-group">

                <button type="button" class="btn" ng-click="back()">Back</button>
                <button type="button" class="btn" ng-click="forth()">Forth</button>
                <button type="button" class="btn" ng-click="$dumpTravel()">DUMP</button>

              </div>

            </div>

          <% end %>

        </div>

      </div>

  </div>

  </div>

<% end %>