
<div style="position: absolute; top: 50pt; left: 50pt; height: 150pt; width: 150pt; background: #ffffff">

  <div class="content">

    <%= form_for @travel do |form| %>

      <%= render 'origin_field',      form: form %>

      <%= render 'destination_field', form: form %>

      <%= add_link_to_fields(form, :items) %>

      <%= form.submit %>

    <% end %>

  </div>

</div>

<script>
  shipper.Q.queue("init", function() {
    shipper.createTravel();
    shipper.registerTracker();
  });
</script>
