
<% content_for :map_overlay do %>

  <div class="map-overlay col-sm-4">

    <h1>Travel</h1>

    <div class="content">

      Origin:       <%= @travel.origin %>
      Destination:  <%= @travel.destination %>

      Items to deliver:

      <% @travel.items.each do |item| %>
        <%= item.name        %>
        <%= item.description %>
        <%= item.weight      %>
      <% end %>

    </div>

  </div>

<% end %>