
<div class="login-form">

  <%= form_tag sessions_path, class: 'form-horizontal' do %>

    <div class="control-group">

      <%= label_tag :phone, 'Phone', { class: 'control-label', for: 'phone' } %>

      <div class="controls">
        <%= phone_field_tag :phone, params[:phone], { id: 'phone' } %>
      </div>

    </div>

    <div class="control-group">

      <%= label_tag :password, 'Password', { class: 'control-label', for: 'password' } %>

      <div class="controls">
        <%= password_field_tag :password, nil, { id: 'password' } %>
      </div>

    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Log in</button>
      </div>
    </div>

  <% end %>

</div>