<!DOCTYPE html>
<html>
<head>
  <title>Shiper</title>

  <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />-->

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag     "application",    media: "all",   "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "application",                    "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?v=release&libraries=places&sensor=true&key=AIzaSyCH-W-G8oHPVT647mSRseuSvRhLUWMQPps" %>

</head>

<body>

  <div class="welcome">

    <div class="intro">

      <div class="intro-name">
        Shiper
      </div>

      <p class="intro-cap center">
        The simplest way to ship locally
      </p>

      <div class="intro-form">

        <%= form_for :adopter, url: adopt_users_path, remote: true, html: { id: "eac-form", class: "form-inline", role: "form" } do |form| %>

          <div class="row">

            <div class="col-md-8">
              <div class="form-group">
                <%= form.email_field :email, placeholder: "Email", id: "eac-email-input", class: "form-control input-lg" %>
              </div>
            </div>

            <div class="col-md-4">
              <%= form.submit value: "GET EARLY ACCESS", id: "get-eac-btn", class: "btn btn-eac btn-success btn-lg" %>
            </div>

          </div>

        <%  end -%>

        <div class="modal fade" id="thanking-modal" tabindex="-1" role="dialog" aria-labelledby="thanking-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title" id="thanking-modal-label">Thank you so much!</h4>
              </div>

              <div class="modal-body">

                <div id="thanking-text">
                  You're awesome! We will reach you at <span class="input">your@email.com</span> shortly to let you know
                  that everything is ready and awaits you to use it!
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

      <p class="intro-scroll center">
        EXPLORE
      </p>
    </div>

    <div class="container marketing">

      <div class="featurette-header">
        <div class="row">
          <div class="featurette-hr">
            <div class="hr-left"></div>
          </div>

          <h1 class="featurette-heading">Why Shiper?</h1>

          <div class="featurette-hr">
            <div class="hr-right"></div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="center col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
          <h2>Simple</h2>
          <p class="lead">Say where and when. We'll make the rest.</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>

        <div class="center col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
          <h2>Fair</h2>
          <p class="lead">Pay for delivery. Not more.</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>

        <div class="center col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
          <h2>Safe</h2>
          <p class="lead">We will save your from logistic pain. And will care as much as you do.</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>

      </div>

      <!--<div class="row featurette">-->
        <!--<div class="col-md-7">-->
          <!--<h2 class="featurette-heading">Say where and when. <span class="text-muted">We'll make the rest.</span></h2>-->
          <!--<p class="lead">-->
            <!--Delivery never was that easy.-->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
          <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">-->
        <!--</div>-->
      <!--</div>-->

      <!--<hr class="featurette-divider">-->

      <!--<div class="row featurette">-->
        <!--<div class="col-md-5">-->
          <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
          <!--<h2 class="featurette-heading">Pay for delivery. <span class="text-muted">Not more.</span></h2>-->
          <!--<p class="lead">-->
            <!--Fare is fair, the bill is plain.-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->

      <!--<hr class="featurette-divider">-->

      <!--<div class="row featurette">-->
        <!--<div class="col-md-7">-->
          <!--<h2 class="featurette-heading">Do not care. <span class="text-muted">We do for you.</span></h2>-->
          <!--<p class="lead">-->
            <!--We will save your from logistic pain. And will care as much as you do. -->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
          <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">-->
        <!--</div>-->
      <!--</div>-->

    </div>

    <div class="container">
      <div class="featurette-header">
        <div class="row">
          <div class="featurette-hr">
            <div class="hr-left"></div>
          </div>

          <h1 class="featurette-heading">Not sure yet?</h1>

          <div class="featurette-hr">
            <div class="hr-right"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="outro">
      <div class="outro-content">
        <div class="container">
          <div class="outro-cap">
            <p>The Most <span class="bold">Simple</span> & Yet <span class="bold">Powerful</span> Way</p>
            <p>To Ship Anything</p>
          </div>

          <button class="btn btn-success btn-eac btn-lg" id="request-demo-btn">REQUEST A DEMO</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="featurette-header">
        <div class="row">
          <div class="featurette-hr">
            <div class="hr-left"></div>
          </div>

          <h1 class="featurette-heading">Soon in</h1>

          <div class="featurette-hr">
            <div class="hr-right"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="map-canvas"></div>

    <div class="container">
      <!--<hr class="featurette-divider">-->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014 Shiper, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </div>

  </div>

  <script>

    // TODO: MAKE PROPER ANIMATED SCROLLING
    $(document).ready(function () {
      $("#request-demo-btn").click(function (event){
        event.preventDefault();
        $('html, body').animate(
            {
              scrollTop: $('body').offset().top
            },
            750
        );
      });

      $("#eac-form")
          .on("ajax:error", function(XHR, data, s) {
            if (s === "error") {
              $("#eac-email-input") .addClass("invalid")
                                    .focus(function() { $(this).removeClass("invalid"); })
            }
          })
          .on("ajax:success", function (XHR, data, s) {
            data = $.parseJSON(data);

            $("#eac-email-input").removeClass("invalid");

            $("#thanking-modal").find(".modal-body")
                                .find(".input")
                                .text(data[0]['email']);

            $("#thanking-modal").modal("show");
          });

      shipper.initMap($("#map-canvas").get(0), { scrollwheel: false });

    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15227382-4', 'theshiper.ru');
    ga('send', 'pageview');

  </script>

</body>

</html>