<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <title>Shipper</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=release&libraries=places&sensor=true&key=AIzaSyCH-W-G8oHPVT647mSRseuSvRhLUWMQPps" %>

  <%= csrf_meta_tags %>

  <style type="text/css">

    html, body {
      height: 100%;
      width: 100%;
    }

    body, #map-canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #map-canvas {
      width: auto;
      height: auto;
      margin-top: 50px;
      z-index: 1;
    }

    #map-overlay {
      position: relative;
      z-index: 100;
    }

    .content {
      margin-top: 50pt;
    }

  </style>

</head>

<body>

  <%= render 'layouts/navbar' %>

  <div class="content">

    <% if requires_map? %>

      <div class="container" >

        <div id="map-overlay" class="col-sm-4">

          <%= yield %>

        </div>

        <div id="map-canvas"></div>

      </div>

    <% else %>

      <%= yield %>

    <% end %>

  </div>

  <script>

    //google.maps.event.addDomListener(window, 'load', bind(shipper, "init"));
    $(document).ready(function() {
      alert("Oops! I've reloaded!");
      shipper.init()
    });

  </script>

</body>
</html>
