<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <title>Delivr</title>

  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=release&libraries=places&sensor=true&key=AIzaSyCH-W-G8oHPVT647mSRseuSvRhLUWMQPps" %>

  <!-- FIXME: Disabled taking JS from CDN for a while max-length bug fixup -->

  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.js" %>
  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular-animate.js" %>
  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular-messages.js" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <style type="text/css">

    html {
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 200;
    }

    html, body {
      height: 100%;
      width: 100%;
    }

    body, #map-canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #map-canvas {
      width: auto;
      height: auto;
      margin-top: 50px;
      z-index: 1;
    }

    .map-overlay {
      position: relative;
      z-index: 100;
    }

    .content {
      margin-top: 50pt;
    }

  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15227382-4', 'auto');
    ga('send', 'pageview');

  </script>

</head>

<body ng-app="delivr" ng-strict-di>

  <%= render 'layouts/navbar' %>

  <div class="content">

    <% if content_for? :dashboard %>

      <!-- FIXME: Layout -->
      <%= yield :dashboard %>

    <% else -%>

      <div class="container">

        <% if content_for? :map_overlay -%>

          <div id="alert-box" class="slow-fade <%= "in" unless alert.blank? %>">
            <div class="alert-box-inner">
              <div class="row">
                <div class="alert alert-danger alert-dismissible col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-offset-10" role="alert">

                  <span class="alert-message">
                    <% unless alert.blank? -%>
                      <strong>Warning!</strong> <%= alert %>
                    <% end -%>
                  </span>

                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
              </div>
            </div>
          </div>

          <%= yield :map_overlay %>

          <div id="map-canvas" google-map></div>

        <% else -%>

          <%= yield %>

        <%  end -%>

      </div>

    <%  end -%>

  </div>

</body>
</html>
